*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body
{
    width: 100%;
    height: 100%;
}

#background
{
    width: 100%;
    height: 100%;
    background-color: white;
    padding-left: 10%;

}
#topleft
{
    width: 290px;
    height: 250px;
    position: absolute;
    top: -13%;
    left: -4%;
}

#bottomleft
{
    width: 25S0px;
    height: 250px;
    position: absolute;
    bottom: -14px;
    left: -2%;
}

#background h1
{
font-family: hadaki;
 color: orange;
 font-size: 80px;
 position: absolute;
 width: 38%;
 bottom: 50%;
 line-height: 82px;
 letter-spacing: 2px;
}
#background p
{
    color: #4AAF52;
    font-family: Gilroy ☞;
    position: absolute;
 width: 34%;
 bottom: 35%;
 line-height: 24px;
}

#button1
{
    width: 149px;
    height: 39px;
    background-color: #4CCB58;
    position: absolute;
 border-radius: 45px;
 bottom: 26%;

}
#button1 a
{
    color: white;
    font-size: 14px;
    font-family: Gilroy ☞;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow:#4CCB58 ;
    text-decoration: none;
}

#button2 
{
    width: 149px;
    height: 39px;
    background-color: transparent;
    border-color:rgba(121, 121, 121, 0.534);
    border-style: dashed;
    border-width: 2px;
    position: absolute;
    
 border-radius: 45px;
 bottom: 26%;
 left: 22%;
}

#button2 a
{
    color:#4CCB58;
    font-size: 13px;
    font-family: Gilroy ☞;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
  font-weight: 400;  
  text-decoration: none;
}
#background i
{  
    position: absolute;
    bottom: 27%;
    left: 42%;
color: rgba(0, 0, 0, 0.774);
}

#image1
{
    position: absolute;
    left: 50%;
    width:600px;
    height: 600px;
    
}
#image2

{
    position: absolute;
    left: 61.5%;
    bottom: 8%;
    width:600px;
    height: 600px;
    
}
#logoline
{
    position: absolute;
    bottom: 72%;
    height: 43px;
}
#logo
{
    position: absolute;
    bottom: 73%;
    left: 10.5%;
    width: 83px;
    height: 33px;
}
#background>h4
{
    color: orange;
    font-size: 15px;
    font-family: Gilroy ☞;
    position: absolute;
    left: 61.5%;
    bottom: 35%;
    font-weight: 500;
}

#background h3
{
    color: orange;
    font-size: 15px;
    font-family: Gilroy ☞;
    position: absolute;
    left: 83%;
    bottom: 19%;
    font-weight: 500;
}
#background #nav 
{
    margin-top: 10px;
    width: 100%;
    height: 3%;
    background-color: white;
    display: flex;
   align-items: center;

}

#background #nav a
{
   color:green;
   font-size: 15px;
    font-family: Gilroy ☞;
margin-right: 110px;
text-decoration: none;
}

#search
{
    width: 13px;
    height: 13px;
    margin-left: 50%;
}

#nav #linebelow
{
    width: 43px;
    height: 3px;
    background-color: rgba(255, 166, 0, 0.781);
position: absolute;
left: 10%;
top: 4.2%;
}


